<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
<aop:aspectj-autoproxy/>
<aop:config> <!-- Debut de la configuration AOP -->
<aop:pointcut id="servicePointcut" expression="execution(* pack1.*.* (..))"/>
<aop:aspect id="loggingAspect" ref="monLogger">
<aop:before method="logMethodEntry" pointcut-ref="servicePointcut"/>
<aop:around method="logMethodAround" pointcut-ref="servicePointcut"/>
<aop:after-returning method="logMethodExit" returning="result" pointcut-ref="servicePointcut"/>
</aop:aspect>
</aop:config> <!-- Fin de la configuration AOP -->
<bean id="monLogger" class="pack2.MonLogger"/>
<bean name="monService" class="pack1.MonService" />
</beans>